body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    border-width: 5px;
    border-style: double;
    border-color: black;
}

h1{
    text-align: center;
    margin: 30px;
    font-size: 350%;
    color: #CB0101;
}

h2{
    color: #FA7E0A;
}

h4{
    margin: 2%;
    color: white;
}

img{
    border-radius: 30%;
}

.social{
    list-style-type: none;
    height: 30px;
    width: 30px;
}

#photo-ytb{
    height: 50px;
    width: 50px;
    text-align: right;
}

#photo-insta{
    height: 50px;
    width: 50px;
}


#photo-kanye{
    display: block;
    margin: 0px auto;
    clip-path: ellipse(30% 50%);
}

#photo-kanye-kim{
    display: block;
    margin: 0px auto;
}

#photo-hoodie{
    height: 190px;
    width: auto;
    display: inline;
    float: right;
    margin: auto;
}

#photo-hoodie2{
    height: 190px;
    width: auto;
    display: inline;
    float: left;
    margin: auto;
}

#photo-bape{
    height: 130px;
    width: auto;
    display: center;
    float: left;
    margin: auto;
}



div{
    background-color: #FECEA8;
    border: 8px solid #F48B29;
    border-radius: 20px;
    box-shadow: 1px 1px 10px white;
    margin: 60px;
    padding: 30px;
}

ul{
    list-style-type: none;
}
    
#photo-fondecran{
    height: 100vh;
    width: 100vw;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 0.9;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .card img {
    width: 150px;
  }
  .card h3 {
    flex-grow: 1;
    padding-left: 20px;
  }

#div3{
    border: 8px solid #FFD31D;
}
